.table {
  border-spacing: 0;
}

.table,
.table thead,
.table tbody,
.table tfoot,
.table tr,
.table th,
.table td {
  margin: 0;
}

.table tbody tr:last-child td {
  border-bottom-width: 0px !important;
}
