.lg-brown {
  color: #996600 !important;
}

.lg-gray {
  color: #bbb !important;
}

.lg-red {
  color: #e74c3c !important;
}

.lg-yellow {
  color: #f1c40f !important;
}

.lg-orange {
  color: #e67e22 !important;
}

.lg-purple {
  color: #8e44ad !important;
}

.lg-green {
  color: #5eb95e !important;
}

.lg-greendark {
  color: rgba(5, 67, 16, 0.79)  !important;
}

.lg-bluedark {
  color: #34495e !important;
}

.lg-bluelight {
  color: #0e90d2 !important;
}
